// Specific CSS for your home-page
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-icons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  // width: fit-content;
  flex-grow: 1;
  padding: 0px;
  a {
    padding: 5px;
    font-size: 0.8rem;
  }
}

.container-topline {
  border-top: 2px solid rgb(207, 207, 207);
  padding-top: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium
}

// .fa-solid {
//   font-size:x-large
// }
