// Specific CSS for your home-page
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: white;

  h1 {
    font-size: 1.65rem;
    font-weight: bold;
  }
}

.container-topline {
  border-top: 2px solid rgb(207, 207, 207);
  padding-top: 20px;
}
