<div data-controller="dropdown" class="relative inline-block">
  <button type="button" data-action="dropdown#toggle click@window->dropdown#hide"><i class="fa-solid fa-bars" style="font-size: 1.3em;"></i></button>
  <div
    data-dropdown-target="menu"
    class="absolute right-0 z-10 mt-2 w-44 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
    >
    <div class="py-1">
      <%= link_to user_favorites_path(current_user), data: {action: "dropdown#toggle"}, class: 'text-black group flex items-center px-4 py-3 hover:bg-gray-100 hover:text-gray-900 rounded-none m-0' do %>
        <%= image_tag "bbf3.png", class: "icon mr-2 ml-0 pl-0 w-6 h-6" %>
        <span class="text-sm">Favourites</span>
      <% end %>
      <%= link_to new_establishment_path, data: {action: "dropdown#toggle"}, class: 'text-black group flex items-center px-4 py-3 hover:bg-gray-100 hover:text-gray-900 rounded-none m-0' do %>
        <i class="fa-solid fa-circle-plus mr-2 h-6 w-6"></i>
        <span class="text-sm">New Location</span>
      <% end %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete, action: "dropdown#toggle"}, class: 'text-black group flex items-center px-4 py-3 hover:bg-gray-100 hover:text-gray-900 rounded-none m-0' do %>
        <i class="fa-solid fa-arrow-right-from-bracket mr-2 h-6 w-6"></i>
        <span class="text-sm">Logout</span>
      <% end %>
    </div>
  </div>
</div>
