<div class="container">
  <h1>Bar's Best Friend</h1>
  <p>Never leave your furry family member home alone again!</p>
    <img class= "avatar-large" src="https://st2.depositphotos.com/1326558/6896/i/600/depositphotos_68966205-stock-photo-black-pug-dog.jpg" alt="pug" width="400" height="300">
  <h5>Find all your local dog-friendly places in one spot!</h5>
</div>
  <div class="container">
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
</div>
<div class="container">
  <div class="card-trip">
    <% @establishments.each do |establishment| %>
          <div class="card-trip img">
            <img src="<%= establishment.image %>">
          </div>
          <div class="card-product-infos">
            <h2> <%= establishment.name %> </h2>
            <p><em><%= establishment.type  %></em></p>
            <p><em><%= "⭐️" * establishment.rating  %></em></p>
          </div>
      <% end %>
  </div>
</div>
