<div class="container">
  <h1>Bar's Best Friend</h1>
  <p>Never leave your furry family member home alone again!</p>
  <h5>Find all your local dog-friendly places in one spot!</h5>
</div>

<div class="container">
<div>
<i class="fa-solid fa-wine-glass"></i>
<p>bars</p>
</div>
<div>
<i class="fa-solid fa-umbrella-beach"></i>
<p>beaches</p>
</div>
<div>
<i class="fa-solid fa-person-hiking"></i>
<p>nature trails</p>
</div>
<div>
<i class="fa-solid fa-tree"></i>
<p>parks</p>
</div>


</div>
<div class="container">
  <div class="cards">
    <% @establishments.each do |establishment| %>
      <div class="card-product">
        <%# <%= link_to establishment_path(establishment) do %>
          <div class="card-product-infos">
            <h2> <%= establishment.name %> </h2>
            <p><em><%= establishment.type  %></em></p>
          </div>
          <% end %>
      </div>
      <%# <% end %>
  </div>
</div>
