.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 100px;
}

.card-product {
  overflow: hidden;
  background: rgb(228, 223, 223);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 50%;
  height: fit-content;
  border-radius: 5px;
}

.card-product img {
  width: 40%;
  object-fit: cover;
}

.card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card-trip {
  overflow: hidden;
  background: rgb(210, 210, 210);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 3px;
  margin: 0 auto;
  width: 300px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  border: 3px solid white;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card > img {
  height: 380px;
  width: 100%;
  object-fit: cover;
}
