.review-button {
  box-shadow: 0px 0px 3px -1px #818181;
  border-radius: 20px;
  border: 1px solid $purple;
  background-color: $purple !important;
  cursor: pointer;
  color: white;
  font-size: 12px;
  padding: 8px 11px;
  font-family: "Comfortaa","cursive";
}
.review-button:active {
  position: relative;
  top: 1px;
}
