<h1>establishment show page</h1>

<%= link_to "Favorite", favorite_path(@establishment), method: :establishment %>
<%= link_to "Unfavorite", unfavorite_path(@establishment), method: :establishment %>
