<div class="container">
  <h1>Edit your dog-friendly location below</h1>
</div>

<div class="container container-topline">
  <%= render 'edit_form' %>
</div>

<div class="icon">
      <%= button_to "Return" , root_path, :class => "btn btn-secondary",  :method => :get %>
</div>
