<div class="container">
  <h1>Submit your dog-friendly location!</h1>
  <h5>Type the name of your dog-friendly location below</h5>
</div>

<div class="container container-topline">
  <%= render 'new_form' %>
</div>
