<footer>
  <div class="footer">
    <p>The dogs that inspired us ♥️ </p>
    <a href="https://www.instagram.com/tacomeetsworld/" target="_blank">
      <i class="fab fa-instagram"></i> Taco
    </a>
    <a href="https://www.instagram.com/looneylunathesamoyed/?igshid=OGQ2MjdiOTE%3D" target="_blank">
      <i class="fab fa-instagram"></i> Luna
    </a>
  </div>
</footer>
